

#todo-list{
    bottom: 0;
    margin-left: 43%;
    width: 60%;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.771);
    font-family: 'Francois One', sans-serif;
}
input{
    background-color: rgba(64, 64, 64, 0.086);
    border-color: rgba(0, 0, 0, 0);
    color: white;
    margin-left: 10%;
    margin-bottom: 5%;
    
   
}
input:focus{
    border-color: rgba(0, 0, 0, 0.285);
    outline-color: black;
    
}
button{
   background-color: rgba(159, 141, 141, 0);
   border: none;
   color: rgba(0, 0, 0, 0);
   box-shadow: none;
   
}
.cam-icon{
    color: rgba(191, 191, 191, 0.364);
}



.take-away{
    color: rgba(250, 235, 215, 0.102);
}

.take-away:hover{
    color: rgba(201, 117, 7, 0.899);
    
}


main{
    font-family: 'Francois One', sans-serif;
}
body{
   background-image: url("https://dtzulyujzhqiu.cloudfront.net/homeoregoncoast2654/images/1617139844_sNtT0qzS10Sbq4ECMn146o0hvvoxLJMD6rGsl8WZ.jpeg");
   background-repeat: no-repeat;
   background-size:cover;
   color: white;
   
   max-width: 98%;
}

.thing{
    height: 78vh;
}

#time{
    font-size: 10em;
    text-align: center;
    top:20%;
    position: absolute;
    font-family: 'Righteous', cursive;
   
}

#quote{
    bottom: 0;
    font-family: 'Francois One', sans-serif;
}


#q-credit{
    color: rgba(0, 0, 0, 0);
}

#q-text:hover + #q-credit{
    color: white;
    transition: 500ms;
}

.theWeather:hover{
    cursor: pointer;
}

.todo-icon{
    color: white;
}