

#todo-list{
    bottom: 0;
    margin-left: 25%;
    width: 70%;
    position: absolute;
    color: rgb(254, 222, 222);
    background-color: rgba(0, 0, 0, 0.771);
    font-family: 'Noto Sans TC', sans-serif;
}
input{
    background-color: rgba(64, 64, 64, 0.086);
    border-color: rgba(0, 0, 0, 0);
    color: antiquewhite;
    margin-left: 10%;
    margin-bottom: 5%;
    
   
}
input:focus{
    border-color: rgba(0, 0, 0, 0.285);
    outline-color: black;
    
}
button{
   background-color: rgba(159, 141, 141, 0);
 
   border: none;
   color: rgba(0, 0, 0, 0);
   box-shadow: none;
   
}

.mdi{
    color: rgb(255, 255, 255);
}

.take-away{
    color: rgba(250, 235, 215, 0.102);
}

.take-away:hover{
    color: rgba(201, 117, 7, 0.899);
    
}


body{
   background-image: url("https://dtzulyujzhqiu.cloudfront.net/homeoregoncoast2654/images/1617139844_sNtT0qzS10Sbq4ECMn146o0hvvoxLJMD6rGsl8WZ.jpeg");
   background-repeat: no-repeat;
   background-size: cover;
   color: rgb(255, 226, 226);
   
   
   
}

.thing{
    height: 78vh;
}

#time{
    font-size: 10em;
    text-align: center;
    top:20%;
    position: absolute;
    font-family: 'Fjalla One', sans-serif;
   
}

#quote{
    bottom: 0;
}


#q-credit{
    color: rgba(0, 0, 0, 0);
}

#q-credit:hover{
    color: antiquewhite;
    transition: 500ms;
}

#q-text:hover + #q-credit{
    color: antiquewhite;
    transition: 500ms;
}
